body {
    margin: 0;
    padding: 0;
    font-size: 14 px;
    line-height: 1.5;
    font-family: Cambria, 'Times New Roman', serif;
}

li {
    list-style: none;
  }
  
  a {
    color: #000;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    max-width: 60%;
    height: 200px;
    margin: 0 auto;
    background: grey url("img/logo.jpg") no-repeat 50% 50%;
    background-size: cover;
}

main {
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(210, 26, 24, 0.7);
    max-width: 90%;
    text-align: center;
}
.book {
    display: flex;
    align-items: center;
    background-color: white;
    min-height: 100px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.year {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 50%;
    color: rgba(210, 26, 24, 0.7);
    font-size: 14px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 600;
}
figcaption {
    font-size: 12px;
    text-align: center;
}
