<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title My Books
		link(rel="stylesheet", href="style.css")
		link(rel="icon", href="source/img/favicon.ico")
	body
		header.logo

		include _books

		script(src="source/js/hiddenText.js")
